/* *********************************
           Variables
  ********************************** */
/* *********************************
   Some Style Overrides on Bootstrap
  ********************************** */

html, body {
height: 100%;
width: 100%;
    color: white;
}
h1 {
font-size: 35px;
margin-top: 60px;
    margin-bottom: 30px;
}

h2 {
margin-top: 30px;}
p {
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-inverse {
  background: rgba(62, 195, 246, 0);
  border-bottom: none;
}
.content {


    width: auto;
    top:10.5%;
    left:0%;
    right: 0%;
    bottom: 9.5%;
    min-height: 70%;
    position: absolute;
     text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  
 
    
}
.background {
 background-image: url(map.png);
  background-size: cover;
    min-height: 80%;
}

.steprow {
width: 100%;}
.backgroundstep {
   margin-top: 1%;
    position: relative;
    height: 102%;
    width: 106%;
 background: rgba(62,195,246, 0.7);
    
}
.navbar-inverse .navbar-toggle {
  border: 1px solid #333;
  border-color: rgba(255, 255, 255, 0.7);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: transparent;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: none;
  }
}
navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
   background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
    text-align: center;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #22F;
}
li a {
  text-decoration: none;
  position: relative;
  padding: 6px 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  color: lightblue;
}
li a:after {
  content: '';
  width: 0%;
  margin-left: 50%;
  height: 2px;
  bottom: 0;
  left: 0;
  border-radius: 40%;
  position: absolute;
  transition: all 0.5s;
}
li a:hover:after {
  background-color: white;
  width: 60%;
  margin-left: 20%;
  box-shadow: 0px 0px 10px white;
}
li a.active:after {
  background-color: white;
  width: 60%;
  margin-left: 20%;
  box-shadow: 0px 0px 10px white;
}

/* *********************************
           Toolbar Logo
  ********************************** */
.small-logo-container {
  padding-top: 50px;
  height: 50px;
  overflow: hidden;
  position: absolute;
}

.small-logo {
  color: white;
  font-size: 2.5em;
  padding-bottom: 2px;
    padding-left: 30px;
}

/* *********************************
           Big Logo
  ********************************** */
.big-logo-row {
  background: rgba(62, 195, 246, 0.80);
    height: 10.5%;
    border-bottom: 20px;
    border-bottom-color: black;
}
.big-logo-row .big-logo-container {
  padding-top: 10px;
    height: 25%;
}
.big-logo-row h1 {
  font-size: 1.25em;
  margin: 0;
  padding: 0 0 15px 0;
}
@media (min-width: 400px) {
  .big-logo-row h1 {
    font-size: 2em;
      height: 25%;
  }
}
@media (min-width: 440px) {
  .big-logo-row h1 {
    font-size: 2.5em;
  }
}
@media (min-width: 500px) {
  .big-logo-row h1 {
    font-size: 2.5em;
  }
}
@media (min-width: 630px) {
  .big-logo-row h1 {
    font-size: 2.5em;
  }
}
@media (min-width: 768px) {
  .big-logo-row h1 {
    font-size: 2.5em;
    padding-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .big-logo-row h1 {
    font-size: 2.5em;
  }
}

.glyphicon {
padding-left: 2% !important;
}
.headline {
    padding-top: 10px;
    padding-bottom: 10px;
text-align: center;}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
  
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: none !important;
    box-shadow: 0;
  
}


@media (min-width: 600px) {
    #bar {
display: block;
margin-top: 100px;
    }
}

@media (max-width: 550px) {
    #bar {
display: none;

    }
}
